
html, body {
    height: 100%;
    margin: 0;
    padding: 0px;
    background-color:#fda406;
    /* background-image:url('../gambar/background_bkk_sender.jpg') ; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-header {
    background-color:#083b7a ;
}
footer{
    background-color: #083b7a;
}
.text-kuning{
    color: #eed643 ;
}
.text-oren{
    color:  #eea915 ;
}
  /* warna */
  /* 
    putih : #fcfafc
    biru : #083b7a
    kuning : #eed643
    orange : #eea915  

  */
  /* Login Css */


.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}